@media (max-width: 2200px) { 

    .info {
        width: 70%;
        font-size: 28px;
        line-height: 1.3em;
    }
}



@media (max-width: 1900px) {

   

    .info {
        font-size: 25px;
        line-height: 1.3em;
    }

    .title {
        font-size: 35px;
    }
}


@media (max-width: 1400px) {


    .info {
        width: 60%;
        font-size: 23px;
    }

    .title {
        font-size: 35px;
    }

    .logoAda {
        height: 75px;
    }

    .img-container {
        height: 700px;
        margin: auto;
        width: 60%;
    }

    .image {
        display: none;
        height: 100%;
        margin: auto;
        width: auto;
        overflow: hidden;
        gap: 20px;
        animation: mudarImagem 2s;
    }
}



@media (max-width: 1200px) {

  

    .info {
        width: 50%;
        font-size: 20px;
    }

    .title {
        font-size: 35px;
    }

    .logoAda {
        height: 75px;
    }

    .nav-link {
        margin: 0 30px;
        font-size: 20px;
    }

    .footer {
        height: 600px;


    }
}


@media (max-width: 1050px) {


    .info {
        width: 50%;
        font-size: 18px;
        line-height: 1.3em;
    }

    .title {
        font-size: 32px;
        line-height: 1.3em;
    }

    .logoAda {
        height: 75px;
    }

    .nav-link {
        margin: 0 30px;
        font-size: 20px;
    }
}


@media (max-width: 970px) {

   body{
    overflow-x: hidden;
   }

    .info {
        width: 50%;
        font-size: 18px;
        line-height: 1.3em;
    }

    .title {
        font-size: 30px;
        line-height: 1.3em;
    }

    .logoAda {
        height: 65px;
    }

    .nav-link {
        margin: 0 20px;
        font-size: 20px;
    }

    .footer{
        height: 1000px;
    }
}




@media (max-width: 850px) {

   

    .info {
        width: 50%;
        font-size: 16px;
        line-height: 1.3em;
    }

    .title {
        font-size: 35px;
        line-height: 1.3em;
    }

    .logoAda {
        height: 65px;
    }

    .nav-link {
        margin: 0 10px;
        font-size: 15px;
    }

    .footer {        
        height: 500px;
        
    }

    .social {
        margin: auto;
        right: 0;
    }


    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        gap: 120px;
        padding: 10px;
    }

    .icones-container {
        justify-content: center;
        align-items: center;
        margin: auto;
        ;
    }

    .about {
        width: 80%;
    }

    .sobre.title {
        text-align: center;
    }


}





@media (max-width: 650px) {

    

    .social {
        margin: auto;
        right: 0;
    }

    .info {
        width: 50%;
        font-size: 13px;
        line-height: 1.3em;
    }

    .title {
        font-size: 35px;
    }

    .logoAda {
        height: 40px;
    }

    .nav-link {
        margin: 0 10px;
        font-size: 15px;
    }


    .footer {
        height: 500px;
        padding: 20px;
    }

    .social {
        margin: auto;
        position: relative;
    }

    .arrow-left,
    .arrow-right {
        height: 50px;
        width: 50px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        gap: 120px;
        padding: 10px;
    }

    .icones-container {
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    
    .credit{
        left: 0;
        width: 100%;
    }




    .quote {
        line-height: 1.1em;
        font-size: 15px;
        font-style: italic;
    }

}


@media (max-width: 475px) {



    .info {
        width: 50%;
        font-size: 12px;
        line-height: 1.1em;
    }

    .p-ada{
        height: 400px;
    }

    .title {
        font-size: 35px;
        line-height: 1.3em;
    }

    .logoAda {
        display: none;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #toggle {
        margin: 10px;
    }

    .nav-link {
        margin: 30px;
        font-size: 15px;
    }

    .image {
        height: 550px;
        width: auto;
    }


    .footer {
        height: 600px;
        padding: 15px;
    }

    .social {
        margin: auto;
        position: relative;
    }

    .arrow-left,
    .arrow-right {
        height: 50px;
        width: 50px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        gap: 120px;
        padding: 10px;
    }

    .icones-container {
        justify-content: center;
        align-items: center;
        margin: auto;
        ;
    }

    .about {
        width: 80%;
    }

    .quote {
        line-height: 1.1em;
        font-size: 15px;
        font-style: italic;
    }

}